#invoice{
    padding: 30px;
}
.invoice {
    position: relative;
    background-color: #FFF;
    min-height: 680px;
}

.invoice b {
    font-weight: bold;
}

.invoice header {
    background-image: url(../img/header.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 140px;
}

.invoice main {
    padding: 50px 80px;
}

.invoice h4.invoice-subtitle {
    color: #eb7514;
}

.invoice .notice {
    margin-top: 50px;
    text-align: center;
}

.invoice .notices {
    font-size: smaller;
    margin-top: 50px;
    text-align: left;
}

.invoice .notices table.footer td {
    font-size: smaller !important;
}
.invoice .company-details {
    text-align: right
}

.invoice .company-details .name {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .contacts {
    margin-bottom: 20px
}

.invoice .invoice-to {
    text-align: left
}

.invoice .invoice-to .to {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .invoice-details {
    text-align: right
}

.invoice .invoice-details .invoice-id {
    margin-top: 0;
    color: #eb7514
}

.invoice main .thanks {
    margin-top: -100px;
    font-size: 2em;
    margin-bottom: 50px
}

.invoice main .notices .notice {
    font-size: 1.2em
}

.invoice table.quote-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px
}

.invoice table.quote-table td,.invoice table th {
    padding: 15px;
    background: #eee;
    border-bottom: 1px solid #000;
}

.invoice table.quote-table th {
    white-space: nowrap;
    font-weight: 400;
    font-size: 16px
}

.invoice table.quote-table td h3 {
    margin: 0;
    font-weight: 400;
    color: #eb7514;
    font-size: 1.2em
}

.invoice table.quote-table .qty,.invoice table .total,.invoice table .unit {
    text-align: right;
    font-size: 1.2em
}

.invoice table.quote-table .no {
    color: #000;
}

.invoice table.quote-table tbody tr:last-child td {
    border: none
}

.invoice table.quote-table tfoot td {
    background: 0 0;
    border-bottom: none;
    white-space: nowrap;
    text-align: right;
    padding: 10px 20px;
    font-size: 1.2em;
    border-top: 1px solid #aaa;
}

.invoice table.quote-table tfoot tr:first-child td {
    border-top: none
}

.invoice table.quote-table tfoot tr:last-child td {
    color: #eb7514;
    font-size: 1.4em;
    border-top: 1px solid #eb7514
}

.invoice table.quote-table tfoot tr td:first-child {
    border: none
}

.invoice footer {
    width: 100%;
    text-align: center;
    padding: 8px 0;
    font-size: 9px !important;
}

#logo_padding {
    padding: 20px 0;
    margin: 0 15px;
}

@media print {
    .invoice {
        font-size: 11px!important;
        overflow: hidden!important
    }

    .invoice footer {
        position: absolute;
        bottom: 10px;
        page-break-after: always
    }

    .invoice>div:last-child {
        page-break-before: always
    }
}
