@import url(https://fonts.googleapis.com/css?family=Poppins&display=swap);@charset "UTF-8";

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: 'Poppins';
  font-size: 15px;
  color: #262525;
  margin: 0;
}
body, html {
  width: 100%;
  height: 100%;
}
html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
}
a {
  color: #eb7514 !important;
}

a:hover {
  color: #eb7514 !important;
}
.btn .fa {
  margin-left: 3px;
}
#title {
  font-size: 56px;
  font-weight: 900;
}
.btnGeStarted {
  background-color: #FF6B00 !important;
  border-radius: 4px;
}
#pageHeader h2 {
  font-weight: 900;
}
.coloredText {
  color: #FF6B00;
}
.box {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  padding: 10px 25px;
  display: block;
  margin-top: 30px;
  background-color: #FFFFFF;
  font-weight: bold;
}
.box-icon {
  background-color: #FFFFFF;
  border-radius: 50%;
  display: table;
  height: 45px;
  margin: 0 auto;
  width: 55px;
  margin-top: -31px;
  text-align: center;
  line-height: 56px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.box-icon span {
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.info-text-content {
  min-height: 122px;
  padding: 20px 2px;
}
.selectedBox {
  background: #FFF4EB;
  border: 1px solid #FFB77B;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.selectedBoxIcon {
  background: #FFF4EB;
  border: 1px solid #FFB77B;
}
.form-check-input[type=checkbox]:checked+label:before, label.btn input[type=checkbox]:checked+label:before {
  border-right: 2px solid #EB7514 !important;
  border-bottom: 2px solid #EB7514 !important;
}
.card-bg-cust {
  box-shadow: none !important;
  background-color: #E1E1E1 !important;
}
.categoryLetter {
  font-weight: 900 !important;
  font-size: 80px;
  color: #B5B5B5;
}
.categoryTitle {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #262525;
}
#loginBtn {
  background-color: #eb7514 !important;
}
.title-container {
  margin-top: 20px;
  z-index: 999;
}
.btn-custom-orange {
  background-color: #eb7514!important;
}
.view_bg {
  height: 100%;
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
